* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;    
}

header {
    background-color: darkslategray;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

header > div {
    font-size: 1.5rem;
}
header nav {
    height: auto;
}
header nav span {
    /* text-decoration: none; */
    color: white;
    height: 2rem;
}

header nav span:hover {
    background-color: rgba(0,0,0,.12)
}

